<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
<body>
    <style>
        body{
            background-image: url("{% static 'image/image2.jpeg' %}");
            background-size: cover;
            font-size: 30px;
            color: black;
            right:800px;

        }
</style>
<center>
<h1>WELCOME TO EMPLOYEE PORTAL</h1>
</center>
<br>

<h4>Profile</h4>

<br>
    <div style="float: left; width: 130px">
         <a class="btn btn-warning" href="{% url 'employee_updated'  user.pk%}">update employee</a>  

        <a class ="btn btn-warning" href="{% url 'sign_in' %}">attendence</a>
        
        <a class ="btn btn-warning" href="{% url 'history' %}">attendence history</a>

        <a class ="btn btn-warning" href="{% url 'user_logout' %}">logout</a>

       </div>

</body>
</head>
</html>