<!DOCTYPE html>
{% load static %}
<html>
<head>
    <center>
	<h1>SIGN IN</h1>
</center>
        <style>
        body{
            background-color: #ADD8E6;
            color:green;
            background-size: cover;
            position: center;
        }
        button{
        	margin-left : 60px;
        	margin-top: 200px;
        	width: 84px;
        	height: 35px; 
            

        }
</style>
<body>
<div style="text-align: center;">
<button onclick= "location.href='http://127.0.0.1:8000/attendence/view/';">signin</button>
</div>
<h1>{{sign_in}}</h1>

</body>
</head>
</html>