<!DOCTYPE html>
{% extends 'base.html' %}
{% block page_content %}

{% load static %}
<html>
<head>



<h1>promotions list</h1>
<div class= "row">
	<div class="col-md-4">
		<div class="card mb-2">
			<div class="card-body">
        
				{% if promotions %}
				<table>
					<table width="100"; border="3"; height="50">
						<thead>
							<th>day</th>
							<th>created_at</th>
							<th>modified_at</th>
							<th>created_by</th>
							<th>modified_by</th>
						</thead>
						{% for x in promotions %}
						<tr>
							<td>{{x.day}}</td>
							<td>{{x.created_at}}</td>
							<td>{{x.modified_at}}</td>
							<td>{{x.created_by}}</td>
							<td>{{x.modified_by}}</td>
							<td>
								<a href='/promotions/update/{{x.pk}}' class='btn btn-warning'>update</a>  
                            	<a href='/promotions/delete/{{x.pk}}' class ='btn btn-warning'>delete</a>
                                <a href='/promotions/detail/{{x.pk}}' class='btn btn-warning'>detail</a> 
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

</head>
</html>
{% endblock %}